<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <title>List Organizer</title>
  <!-- bootstrap stylesheets -->
  <link rel='stylesheet' type='text/css' href='/css/bootstrap.min.css'>
  <!-- datatables stylesheets -->
  <link rel='stylesheet' type='text/css' href='/css/dataTables.bootstrap4.css'>
  <link rel='stylesheet' type='text/css' href='/css/responsive.bootstrap4.css'>
  <!-- custom stylesheets -->
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
</head>
