<!DOCTYPE html>
<html lang='en'>
  <% include partials/head %>
  <body class='text-center'>
    <div class='cover-container d-flex w-100 h-100 p-3 mx-auto flex-column'>
      <% include partials/header %>
      <main class='inner cover' role='main'>
        <h1 class='cover-heading'>About</h1>
        <p class='lead'>You can find all of my projects on my <a href='https://github.com/ksichien'>GitHub</a> page.</p>
      </main>
      <% include partials/footer %>
      <% include partials/scripts %>
    </div>
  </body>
</html>
