<!DOCTYPE html>
<html lang='en'>
  <% include partials/head %>
  <body class='text-center'>
    <div class='cover-container d-flex w-100 h-100 p-3 mx-auto flex-column'>
      <% include partials/header %>
      <main class='inner cover' role='main'>
        <h3 class='cover-heading'>Welcome to list organizer!</h3>
        <p>
          <a class='lead' href='/music'>Organize music lists.</a>
        </p>
        <p>
          <a class='lead' href='/about'>About this project.</a>
        </p>
      </main>
      <% include partials/footer %>
      <% include partials/scripts %>
    </div>
  </body>
</html>
