<!DOCTYPE html>
<html lang='en'>
  <% include ../partials/head %>
  <body class='text-center'>
    <div class='cover-container d-flex w-100 h-100 p-3 mx-auto flex-column'>
      <% include ../partials/header %>
      <main class='inner cover' role='main'>
        <h3 class='cover-heading'>Remove an existing artist or album</h3>
        <form class='needs-validation' action='destroy', method='post'>
          <div class='row'>
            <div class='col-md-6'>
              <label for='artistName'>Artist Name</label>
              <input id='artistName' name='artistName' class='form-control' autofocus='true' type='text' required>
            </div>
            <div class='col-md-6'>
              <label for='albumName'>Album Name</label>
              <input id='albumName' name='albumName' class='form-control' type='text' required>
            </div>
          </div>
          <button class='btn btn-lg btn-dark btn-music-edit' type='submit'>Remove from the list</button>
        </form>
      </main>
      <% include ../partials/footer %>
      <% include ../partials/scripts %>
    </div>
  </body>
</html>
